@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  height: 100%;
}

body {
  @apply bg-white dark:bg-gray-950 text-gray-900 dark:text-gray-100;
  height: 100%;
}
